<section>
  <!-- Trigger the modal with a button -->
  

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title">Your basket</h1>
        </div>
        <div class="modal-body ticket-body">
          <div class="row basket-header-row">
            <div class="col-md-4 rowhead">
              <h3> Row number </h3>
            </div>
            <div class="col-md-4 seathead">
                <h3> Seat number </h3>
              </div>
              <div class="col-md-4 pricehead">
                <h3> Price </h3>
              </div>
            </div>
            <div *ngFor="let ticket of selectedTickets" class="row datarow">
              <div class="col-md-4 rows">
                <span> {{(ticket.rowId)}} </span>
              </div>
              <div class="col-md-4 seatx">
                <span> {{ticket.seat}} </span>
              </div>
              <div class="col-md-4 price">
                <span> {{cinema.base_ticket_price | currency: "HUF" }} </span>
              </div>
          </div>
        </div>
        <div class="modal-footer">
        <!-- <h4 *ngIf="!seatChecker()">Selection not allowed. Single seat cannot be left empty.</h4> -->
          <button type="button" class="btn modalbutton" data-dismiss="modal">Close</button>
           <button type="button" class="btn modalbutton" data-dismiss="modal"(click)="stepsIncrement()" (click)="sendTicketsData(); makeTicketBuying()">Next</button>
        </div>
      </div>
    </div>
  </div>
	<div class="container" [ngClass]="{'done' : done, 'newform' : !done, 'backeffect' : backClicked}" *ngIf="!ticketSelectionComplete">
        <div class="row">
            <div class="col-md-12 ticket-selection">
            <!--
            <div *ngIf="!reservationCheck" class="denied-reservation">
                <h3> Selection not allowed. Single seat cannot be left empty! </h3>
            </div>
            -->
            <div style="margin: 26px" *ngIf="reservationCheck">
                <h3>  </h3>
            </div>
               <h1>Select Seats</h1>
               <div class="cinemascreen"></div>
               <div class="col-md-12">
               		<ul class="cinemarows list-unstyled">
               			<li *ngFor="let row of rows; let i = index" class="cinemarow" [attr.data-row]="i">
               				<p [ngClass]="{'display: hidden ' : getSeatsNumber(row) == 0}" class="id rowidleft">{{i + 1}}</p>
                      <input *ngFor="let seat of Arr(getSeatsNumber(row)).fill(); let j = index;" type="checkbox" (change)="onChange($event)" name="seats" [attr.data-seat]="j" [checked]="isSelectedSeat(i, j)" [disabled]="isReservedSeat(i, j)">
                      <p [ngClass]="{'display: hidden ' : getSeatsNumber(row) == 0}" class="rowidright id">{{i + 1}}</p>
               			</li>
               		</ul>
               </div>
            </div>
            <a class="btn backbtn" (click)="stepDecrease()">Back</a>
            <button *ngIf="checkedCounter > 0" type="button" class="order_btn btn order text-righ nextbtn" data-toggle="modal" data-target="#myModal">Basket</button>
        </div>
	</div>
</section>