<cinema-header></cinema-header>
<div class="container">
	<div class="row">
		<div class="col-xs-12 cinemas-title-box">
			<h1 class="cinemas-title"> {{ currentCinema.name }} </h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-sm-6">
			<ul class="list-unstyled cinema-data">
				<li>
					<p class="cinema-description"> {{ currentCinema.description }} </p>
					<span>Rooms: {{ currentCinema.rooms?.length }} </span>
					<span>Ticket price: {{ currentCinema.base_ticket_price }} HUF </span>
					<span>Phone: {{ currentCinema.phone }} </span>
					<span>E-mail: {{ currentCinema.email }} </span>
					<p class="cinema-address"> Address: {{ currentCinema.address }} </p>
				</li>
			</ul>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="cinema-map" id="cinema-map-{{currentCinema.id}}"></div>
		</div>
	</div>
</div>
<shows [hide]="hideShowCinemasBar" [chosenCinema]="currentCinema" *ngIf="currentCinema.id" ></shows>
<cinema-footer></cinema-footer>


