<footer id="footer">
    <div class="container footer-container">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <div class="widget">
                    <h5 class="widget-title">Menu</h5>
                    <ul class="menu">
                        <li><a (click)="jqueryService.scrollToPositionTop(0)" >Home</a></li>
                        <li><a href="#">Coming soon</a></li>
                        <li><a href="#">Order</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <div class="social-links">
                        <a href="https://www.facebook.com/progmatic.hu/?fref=ts"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget address-info">
                    <h5 class="widget-title">Address information</h5>
                    <p>
                        <i class="fa fa-location-arrow" aria-hidden="true"></i> 1036 Budapest, Lajos utca 93-99.
                    </p> 
                    <p>
                        <i class="fa fa-envelope" aria-hidden="true"></i> progmaticprojectcinema@gmail.com
                    </p>
                    <p>
                        <i class="fa fa-phone"></i> +36 .. .......
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget">
                <h5 class="widget-title">Leave a message</h5>
                    <form class="contact_form transparent">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" class="inputValidation" name="name" placeholder="Name *">
                            </div>
                            <div class="col-sm-12">
                                <input type="text" class="inputValidation" name="email" placeholder="Email *">
                            </div>
                            <div class="col-sm-12 ">
                                <textarea class="inputValidation" placeholder="Message *"></textarea>
                                <button type="submit" class="button fill rectangle">Send to us</button>
                            </div>
                        </div>
                    </form>
                    <div class="errorMessage"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row copyright-text">
                <div class="col-sm-12 text-center">
                    <p class="mv3 mvt0">&copy; Copyrights 2017 Progmatic Project Cinema. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>