<admin-navbar></admin-navbar>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="instructions">Here you can manage the room</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="form-group">
            <label class="col-sm-3 text-right">Name</label>
            <div class="col-md-9">
              	<input [(ngModel)]="room.name" type="text" class="form-control" placeholder="Name">
            </div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ol class="rowsOl list-unstyled" *ngIf="rows.length > 0">
				<li class="admin-rows row text-center" *ngFor="let r of rows; let i = index">
					<div class="col-md-1 rowNumber">
						{{ i+1 }}.
					</div>
					<div class="col-md-1">
						<input [(ngModel)]="r.seats" type="text" placeholder="Seats" class="form-control">
					</div>
					<div class="col-md-1">
						<input [(ngModel)]="r.is_sofa" type="checkbox">
					</div>
					<div class="seats col-md-8">
						<div class="seat" *ngFor="let s of arrayOfLength(r.seats)"></div>
					</div>
					<div class="col-md-1">
						<button (click)="deleteThisRow(i)" type="delete" class="btn btn-default btn-sm deleteRowButton">Delete row</button>
					</div>
				</li>
			</ol>
			<button (click)="addNewRow()" class="btn btn-default">Add row</button>
			<div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
	                <button (click)="addOrEditRoom()" type="save" class="btn btn-default">Save</button>
	                <button (click)="deleteThisRoom(i)" type="delete" class="btn btn-default">Delete room</button>
                </div>
            </div>
		</div>
	</div>
</div>
<cinema-footer></cinema-footer>