<div class="container" [ngClass]="{'fadeDown' : done, 'newform' : !done, 'backeffect' : backClicked}">
	<div class="row">
		<div class="col-md-12">
			<h1 class="ticket-selection">Confirmation</h1>
			
			<div class="confi-text text-center">
				<div class="col-md-4">
					<p>Seat</p>
				</div>
				
				<div class="col-md-4">
					<p>Row</p>
				</div>

				<div class="col-md-4">
					<p>Ticket prise</p>
				</div>
			</div>
			<div  class="confi-text text-center" *ngFor="let ticketDetails of ticketConfi">
				<div class="col-md-4">
					<span>{{ticketDetails.seat}}</span>
				</div>
				<div class="col-md-4">
					<span>{{ticketDetails.rowId}}</span>
				</div>
				<div class="col-md-4">
					<span>{{cinemaPrise.base_ticket_price | currency: "HUF"}}</span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center confi-total">
					<span>Total amount: {{ totalPriceBase() | currency: "HUF"}}</span>
				</div>
			</div>

			<form action="https://sandbox.paypal.com/cgi-bin/webscr" method="post" *ngIf="setPaymethode()">
				<a class="btn nextbtn" (click)="getConfirmationData()"><img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-pill-paypalcheckout-26px.png" alt="PayPal Checkout"></a>
			</form>

			<a class="btn nextbtn" *ngIf="!setPaymethode()" (click)="getConfirmationData()">Thank you button</a>
			<a class="btn backbtn" (click)="stepsDescrese()">Back</a>
		</div>
	</div>
</div>