<header id="header" class="menu-top-left">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-2">
                <a routerLink="/" id="logo" title="ProgCinema" class="logo-image" style="background-image: url(http://cinema.project.progmatic.hu/page-assets/img/cinema-logo-new.png);">ProgCinema</a>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-8 col-xs-10 phl0">
                <div class="header-reg" *ngIf="dataService.signedInUser.email == ''">
                    <a (click)="showRegisterForm()" >Registration</a>
                </div>
                <div class="header-sign" *ngIf="dataService.signedInUser.email == ''">
                    <a (click)="showSignInForm()" >Sign In</a>
                </div>
                <div class="header_user dropdown" *ngIf="dataService.signedInUser.email !== ''">
                    <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                        <span class="username">{{ dataService.signedInUser.full_name }}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a data-toggle="modal" data-target="#account-settings">Account Settings</a></li>
                    </ul>
                    <img src="{{backendBaseUrl}}users/{{dataService.signedInUser.id}}/getPicture{{cacheBreaker}}" alt="" *ngIf="dataService.signedInUser.file">
                    <img src="http://cinema.project.progmatic.hu/page-assets/img/avatar-default-small.png" class="user" alt="user" *ngIf="!dataService.signedInUser.file">
                </div>
                <div class="header_ticket hidden-xs" *ngIf="dataService.signedInUser.email !== ''">
                    <a class="order_btn">My tickets</a>
                    <span>0</span>
                </div>
                <a *ngIf="dataService.signedInUser.email !== ''" id="header-logout" data-toggle="modal" data-target="#logout-message" > <i class="fa fa-sign-out" id="logout-icon" aria-hidden="true"></i> </a>
                <div class="button_container" [ngClass]="{'active': isMenuVisible || isSignInFormSown || isRegisterFormShown}" id="toggle" (click)= "setMenu()">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
                <div class="overlay" id="overlay" [ngClass]="{'active': isMenuVisible, 'open': isMenuVisible}">
                    <a class="close-window"> </a>
                    <nav class="overlay-menu">
                        <ul>
                            <li><a (click)="removeNoScroll()" routerLink="/">Home</a></li>
                            <li><a (click)="removeNoScroll()" routerLink="/cinemas">Cinemas</a></li>
                            <li><a (click)="removeNoScroll()" routerLink="/shows">Shows</a></li>
                            <li><a (click)="removeNoScroll()" routerLink="/movies">Movies</a></li>
                            <li class="visible-xs-block"><a (click)="removeNoScroll()" href="#order" class="order_btn">Tickets</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="register-form" class= "overlay" [ngClass]="{'active': isRegisterFormShown, 'open': isRegisterFormShown}">
                    <div class="form-horizontal">
                        <a class="close-window"> </a>
                        <div class="form-group" [ngClass]="{ 'has-error': registerFormErrors.userName, 'has-success': ! registerFormErrors.userName && currentUser.full_name.length > 0 }">
                            <label for="reg-name" class="col-sm-2 col-xs-12 control-label">Name</label>
                            <div class="col-sm-offset-0 col-sm-4 col-xs-offset-1 col-xs-10">
                                <input [(ngModel)]="currentUser.full_name" (ngModelChange)="checkName()" type="text" class="form-control" id="reg-name" placeholder="How can we call you?">
                            </div>
                            <span *ngIf=" registerFormErrors.userName !== '' " id="helpBlock1" class="help-block"> {{ registerFormErrors.userName }} </span>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': registerFormErrors.email, 'has-success': ! registerFormErrors.email && currentUser.email.length > 0 }">
                            <label for="reg-input-email" class="col-sm-2 col-xs-12 control-label">Email</label>
                            <div class="col-sm-offset-0 col-sm-4 col-xs-offset-1 col-xs-10">
                                <input [(ngModel)]="currentUser.email" (ngModelChange)="checkRegEmail()" type="email" class="form-control" id="reg-input-email" placeholder="Your best email address">
                            </div>
                            <span *ngIf=" registerFormErrors.email !== '' " id="helpBlock2" class="help-block">{{ registerFormErrors.email }}</span>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': registerFormErrors.password, 'has-success': ! registerFormErrors.password && currentUser.password.length > 0 }">
                            <label for="reg-input-password" class="col-sm-2 col-xs-12 control-label">Password</label>
                            <div class="col-sm-offset-0 col-sm-4 col-xs-offset-1 col-xs-10">
                                <input [(ngModel)]="currentUser.password" (ngModelChange)="checkRegPassword()" type="password" class="form-control" id="reg-input-password" placeholder="Password">
                                <p>Password has to be be 8 characters length via lower and uppercase, at least 2 numbers and 1 special character !</p>
                            </div>
                            <span *ngIf=" registerFormErrors.password !== '' " id="helpBlock3" class="help-block">{{ registerFormErrors.password }}</span>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button (click)="registerUser()" type="submit" class="btn btn-default">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="sign-in-form" class= "overlay" [ngClass]="{'active': isSignInFormSown, 'open': isSignInFormSown}">
                    <div class="form-horizontal">
                        <a class="close-window"> </a>
                        <div class="form-group" [ngClass]="{ 'has-error': signInFormErrors.email, 'has-success': ! signInFormErrors.email && currentSigningUser.email.length > 0 }">
                            <label for="sign-in-input-email" class="col-sm-2 col-xs-12 control-label">Email</label>
                            <div class="col-sm-offset-0 col-sm-4 col-xs-offset-1 col-xs-10">
                                <input [(ngModel)]="currentSigningUser.email" (ngModelChange)="checkSignInEmail()" type="email" class="form-control" id="sign-in-input-email" placeholder="Your registered email address">
                            </div>
                            <span *ngIf=" signInFormErrors.email !== '' " id="helpBlock4" class="help-block">{{ signInFormErrors.email }}</span>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': signInFormErrors.password, 'has-success': ! signInFormErrors.password && currentSigningUser.password.length > 0 }">
                            <label for="sign-in-input-password" class="col-sm-2 col-xs-12 control-label">Password</label>
                            <div class="col-sm-offset-0 col-sm-4 col-xs-offset-1 col-xs-10">
                                <input [(ngModel)]="currentSigningUser.password" (ngModelChange)="checkSignInPassword()" type="password" class="form-control" id="sign-in-input-password" placeholder="Your registered password">
                            </div>
                            <span *ngIf=" signInFormErrors.password !== '' " id="helpBlock5" class="help-block">{{ signInFormErrors.password }}</span>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button (click)="signInUser()" type="submit" class="btn btn-default">Sign in</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <a id="forgot-pass" data-toggle="modal" data-target="#forgot-pass-message">I forgot my password!</a>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
</header>
<div id="reg-mail-message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Success !</h4>
            </div>
            <div class="modal-body"><p> We sent a verification email to the given email address with a link, please check your email and click on the link we have sent you to verify your registration! </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="bad-regin-message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Warning !</h4>
            </div>
            <div class="modal-body"><p>This user data is already registered!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="bad-login-message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Warning !</h4>
            </div>
            <div class="modal-body"><p>Your email address or your password is not correct, please try again!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="forgot-pass-message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 *ngIf="dataService.signedInUser.email == ''" class="modal-title">Please type in your email address and press send to change your password!</h4>
                <h4 *ngIf="dataService.signedInUser.email !== ''" class="modal-title">Press send to change your password!</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" [ngClass]="{ 'has-error': forgotPassErrors.email, 'has-success': ! forgotPassErrors.email && currentForgotPassUser.email.length > 0 }">
                    <label for="fp-input-email" class="col-sm-3 control-label">Email:</label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="currentForgotPassUser.email" (ngModelChange)="checkForgotPassEmail()" type="email" class="form-control" id="fp-input-email" placeholder="Your registered email address" [disabled]="dataService.signedInUser.email !== ''" value="{{dataService.signedInUser.email}}">
                    </div>
                    <span *ngIf=" forgotPassErrors.email !== '' " id="helpBlock6" class="help-block">{{ forgotPassErrors.email }}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="sendResetPasswordMail()">Send</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="new-pass-message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button *ngIf="isNewPasswordReseted" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 *ngIf="!isNewPasswordReseted" class="modal-title">Please type in your new password twice!</h4>
                <h4 *ngIf="isNewPasswordReseted" class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <p *ngIf="!isNewPasswordReseted">Password has to be be 8 characters length via lower and uppercase, at least 2 numbers and 1 special character !</p>
                <p *ngIf="isNewPasswordReseted" class="success-reset">You have successfully reseted your password!</p>
                <div *ngIf="!isNewPasswordReseted" class="form-group" [ngClass]="{ 'has-error': newPassErrors.first, 'has-success': ! newPassErrors.first && newPassUser.password.length > 0 }">
                    <label for="fp-input-password" class="col-sm-3 control-label">New password</label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="newPassUser.password" (ngModelChange)="checkNewFirstPassword(); setLength()" type="password" class="form-control" id="fp-input-password" placeholder="Your new password">
                    </div>
                    <span *ngIf=" newPassErrors.first !== '' " id="helpBlock7" class="help-block">{{ newPassErrors.first }}</span>
                </div>
                <div *ngIf="!isNewPasswordReseted" class="form-group" [ngClass]="{ 'has-error': newPassErrors.second, 'has-success': ! newPassErrors.second && newPassUserSecond.length > 0 }">
                    <label for="fp-input-password-second" class="col-sm-3 control-label">Confirm password</label>
                    <div class="col-sm-6">
                        <input [(ngModel)]="newPassUserSecond" (ngModelChange)="checkNewSecondPassword(); setLength()" type="password" class="form-control" id="fp-input-password-second" placeholder="Your new password again">
                    </div>
                    <span *ngIf=" newPassErrors.second !== '' " id="helpBlock8" class="help-block">{{ newPassErrors.second }}</span>
                </div>
            </div>
            <div class="modal-footer">
                <p *ngIf="newPassUser.password.length == firstNewPassLength &&
                newPassUserSecond.length == secondNewPassLength && !isPasswordsMatch">The passwords are not good yet!</p>
                <button *ngIf="!isNewPasswordReseted" type="button" class="btn btn-default" (click)='isNewPasswordsMatch(newPassUser.password.length, newPassUserSecond.length)'>Reset</button>
                <button *ngIf="isNewPasswordReseted" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="fp-mail-message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Success !</h4>
            </div>
            <div class="modal-body"><p> We sent a verification email to the given email address with a link, please check your email and click on the link we have sent you to change your password! </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="bad-reset-message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Warning !</h4>
            </div>
            <div class="modal-body"><p>This email address is not registered in our database, please insert your registered email address!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="logout-message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Warning !</h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to log out? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="logOutUser()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="account-settings" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Account settings</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-4" id="avatar">
                            <img src="{{backendBaseUrl}}users/{{dataService.signedInUser.id}}/getPicture{{cacheBreaker}}" alt="" *ngIf="dataService.signedInUser.file" class="img-responsive">
                            <img src="http://cinema.project.progmatic.hu/page-assets/img/avatar-default-big.png" alt="" *ngIf="!dataService.signedInUser.file">
                        </div>
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-4 name">
                                    <label for="name" class="control-label">Name: </label>
                                </div>
                                <div class="col-xs-8 name">
                                    <input [(ngModel)]="changesUser.full_name" id="name" class="form-control" type="text" value="{{ changesUser.full_name }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-4 mail">
                                    <label for="email" class="control-label">Email: </label>
                                </div>
                                <div class="col-xs-8 mail">
                                    <input [(ngModel)]="changesUser.email" id="email" class="form-control" type="email" value="{{ changesUser.email }}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <p id="change-avatar"><a (click)="file.click()">Change avatar</a></p>
                            <input type="file" accept="image/*" name="file" value="" class="hidden file" #file (change)="fileChange($event)">
                        </div>
                        <div class="col-xs-6 col-xs-offset-2">
                            <p id="change-pass"><span data-dismiss="modal" data-toggle="modal" data-target="#forgot-pass-message">Change password</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div *ngIf="fileUploadProgress > 0" class="progress" style="background-color: black; height: 2px;">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 2px; background-color: #fb802d;" [ngStyle]="{ width : fileUploadProgress + '%' }" *ngIf="fileUploadProgress > 0">
                    </div>
                </div>
                <p *ngIf="fileUploaded">Chosen file: {{uploadFile.name}}</p>
                <button *ngIf="fileUploaded" type="button" class="btn btn-default upload" (click)="uploadAvatar()">Upload</button>
                <button type="button" class="btn btn-default save" (click)="saveAccount()">Save Name</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="changes-message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Changes !</h4>
            </div>
            <div class="modal-body">
                <p *ngIf="dataService.signedInUser.full_name == changesUser.full_name && dataService.signedInUser.email == changesUser.email"> You have not changed anything!</p>
                <p id="your-changes" *ngIf="dataService.signedInUser.full_name !== changesUser.full_name || dataService.signedInUser.email !== changesUser.email">Your changes:</p>
                <p id="name-prg" *ngIf="dataService.signedInUser.full_name !== changesUser.full_name">Name: {{changesUser.full_name}}</p>
                <p id="mail-prg" *ngIf="dataService.signedInUser.email !== changesUser.email">Email: {{changesUser.email}}</p>
                <p *ngIf="dataService.signedInUser.email !== changesUser.email" id="email-changer">If you would like to change your email address, we will send a verification email to the new address within you have to verify your new email address!</p>
                <p id="sure" *ngIf="dataService.signedInUser.full_name !== changesUser.full_name || dataService.signedInUser.email !== changesUser.email">Are you sure you want to save these changes? </p>
            </div>
            <div class="modal-footer">
                <button *ngIf="dataService.signedInUser.full_name !== changesUser.full_name || dataService.signedInUser.email !== changesUser.email" type="button" class="btn btn-primary" (click)="changeName()">Yes</button>
                <button *ngIf="dataService.signedInUser.full_name !== changesUser.full_name || dataService.signedInUser.email !== changesUser.email" type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button *ngIf="dataService.signedInUser.full_name == changesUser.full_name && dataService.signedInUser.email == changesUser.email" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->