	<div class="container" [ngClass]="{'fadeUp' : done}">
		<div class="row">
			<div class="confi-page text-center">
				<p>Thank you for your reservation !</p>
				<p>This is your confirmation OJDII: #<span *ngFor="let confiId of confirmationIds" 
					class="confi-id">{{confiId}},</span>
				</p>
				<p class="confi-page-min">We've sent you a confirmation email with the details of your order.</p>

				<p *ngIf="reservation == 0">Redirecting to paypal...</p>
				
				<form *ngIf="reservation == 0" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" #form>
					<input type="hidden" name="cmd" value="_xclick">
					<input type="hidden" name="business" value="paypaltestprogmatic-facilitator@gmail.com">
					<input type="hidden" name="charset" value="utf-8">
					<input type="hidden" name="return" value="http://www.cinema.project.progmatic.hu">
					<input type="hidden" name="currency_code" value="HUF">
					<input type="hidden" name="quantity" value="{{ soCounter }}">
					<input type="hidden" name="amount" value="{{ soAmount }}">
					<input type="hidden" name="item_name" value="Cinema Ticket Reservation">
					<input type="submit" name="" class="hidden">
				</form>

			</div>
		</div>
	</div>
