<div class="form-horizontal">
		
	<div class="form-group">
		<label class="reservation-select-name col-md-2 label-name">Cinema</label>
		<div class="col-md-5">
			<select  name="cinema" [(ngModel)]="selectedCinemaId" class="reservation-custom-select form-control" (change)="onSelectedItem()">
				<option *ngFor="let reservation of reservations" value="{{reservation.cinemaDTO.id}}">{{reservation.cinemaDTO.name}}</option>
			</select>
		</div>
	</div>	

	<div class="form-group" >
		<label class="reservation-select-name col-md-2 label-name">Date</label>
		<div class="col-md-5">
			<select  name="date" class="reservation-custom-select form-control" [disabled]="isDisabled" [(ngModel)]="selectedDate">
				<option *ngFor="let date of getDistinctDates()" [value]="date">{{date | date }}</option>
			</select>
		</div>

		<div class="col-md-5">
			<button [routerLink]="['/booking', selectedShowId]" *ngIf="selectedShowId" class="btn btn-primary nextbtn btn-sm">Buy ticket</button>
		</div>	
	</div>

	<div class="form-group">
		<label class="reservation-select-name col-md-2 label-name">Time</label>
			<div class="col-md-5">
				<select name="time" class="reservation-custom-select form-control" [disabled]="isDisabled" [(ngModel)]="selectedShowId">
				<option *ngFor="let show of getShowsForDate(selectedDate)" value="{{show.id}}">{{show.timestamp | date:'HH:mm'}}</option>}
			</select>	
		</div>
	</div>

</div>