<admin-navbar></admin-navbar>
<h1 class="instructions" *ngIf="cinema.id == 0">Choose a cinema to edit or add a Show!</h1>
<h1 class="instructions" *ngIf="cinema.id != 0">{{ cinema.name }}</h1>
<div class="shows">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="dropdown">
					<button class="" type="button" id="cinemasShow" data-toggle="dropdown">Cinemas<span class="caret"></span></button>
						<ul id="showCinemaByShow" class="dropdown-menu list-unstyled" role="menu" aria-labelledby="cinemasShow" *ngIf="cinemas.length>0">
							<li role="presentation" *ngFor="let c of cinemas">
								<button id="adminShowsA" (click)="moviesByCinema(c)">{{ c.name }}</button>
							</li>
						</ul>
				</div>
			</div>
			<div class="col-md-6"></div>
				<div class="col-md-3">
					<input id="date" class="showDate" type="date" [value]="date | date:'yyyy-MM-dd'" (change)="reloadMovies()" (input)="date = $event.target.valueAsDate" >
					<option *ngFor="let date of getDistinctDates()" [value]="date">{{ date | date }}</option>
				</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<table class="table table-striped table-bordered" stlye="margin-left:0px" id="showsTable">
					<tr id="showsInfo">
						<th class="featureName">Title</th>
						<th class="reatings">Rated</th> 
						<th class="movieLength">Min</th>
					<!--	<th class="shows" ngIf="show.length <=0 boolean függvény?????"></th> -->
						<th></th>
					</tr>
					<tr *ngFor="let m of movie" id="actualMovieInfo">
						<td><a id="actualMovieTitle">{{ m.title }}</a></td>
						<td>{{ m.rated }}</td>
						<td>{{ m.length }}</td>
						<td><button type="editShow" data-toggle="modal" click="getShowsByDateAndCinema()" data-target="#myModal">Edit</button></td>
					</tr>
				</table>
			</div>
		</div>
		<div *ngFor="let m of movie" id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 id="modalTitleAdmin" class="modal-title">{{m.title}}</h4>
			      </div>
			      <div class="modal-body">
			      	<p>{{ date | date:'yyyy-MM-dd' }}</p>
			        <form id="selectTime">
						  Select a time:
						  <input id="addTimeForShow" type="time" name="usr_time">
					</form>
					<div>
					   	<label id="premierAdmin" for="radio-1">Premier</label>
						<input type="radio" name="radio-1" id="isPremier">
				  	</div>
				  	<button class="" type="button" id="movieRooms" data-toggle="dropdown">Rooms<span class="caret"></span></button>
						<ul id="chooseRoom" class="dropdown-menu list-unstyled" role="menu" aria-labelledby="roomsName" *ngIf="rooms.length>=0">
							<li role="presentation" [(ngModel)]="selectedCinemaId" *ngFor="let r of rooms">
								<button id="adminShowsA" (click)="chooseRoom()"  >{{ r.name }}</button>
							</li>
						</ul>
			      </div>
			      <div class="modal-footer" id="adminShowModalFooter">
			        <button type="button" id="closeModalShowEdit" class="btn btn-default" data-dismiss="modal">Save</button>
			      </div>
			    </div>
			</div>
		</div>
	</div>
<cinema-footer></cinema-footer>