header#header #search-icon:before {
  font-size: 17px;
  width: 30px;
  height: 30px;
  position: relative;
  display: block;
} 
header#header #search-icon:hover {
  text-decoration: none;
  color: #fb802d;
}

.pv11 {
	
}
