<cinema-header></cinema-header>
<div class="fullwidth-slider">
    <div id="headerslider" class="carousel slide"> 
        <ol class="carousel-indicators">
            <li *ngFor="let movie of sliderFeauturedMovies; let i = index" data-target="#headerslider" [attr.data-slide-to]="i" [ngClass]="{'active': i === 0}"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!--<div class="item active">
                <div class="fill" [ngStyle]="{'background-image':'url(../../../assets/images/header/lotr-background-header.jpeg)'}">
                 <div class="bs-slider-overlay"></div>
                    <div class="container movie-slider-container"> 
                        <div class="row">
                             <div class="col-sm-12 movie-slider-content">
                                <div class="slider-content" >
                                    <ul class="subtitle"  data-animation="animated bounceInRight">
                                        <li>Action</li>
                                        <li>Science Fiction</li>
                                        <li>Adventure</li>
                                    </ul>
                                    <div class="title" data-animation="animated bounceInRight" >Lord of the rings: The return of the kings </div>
                                    <div class="slide_right" data-animation="animated bounceInRight">
                                        <a href="javascript:;" class="btn-trailer">watch trailer</a> <a href="javascript:;" class="btn-ticket">buy ticket</a><!--    kis ikonok kikomentelve
                                        <ul class="award-logo">
                                            <li><img src="images/header/icon1.png" alt="icon" ></li>
                                            <li><img src="images/header/icon2.png" alt="icon"></li>
                                            <li><img src="images/header/icon3.png" alt="icon"></li>
                                            <li><img src="images/header/icon4.png" alt="icon"></li>
                                        </ul>
                                    </div>
                                    <div class="chart-cirle">
                                        <div class="chart-circle-l" data-animation="animated bounceInUp">
                                            <div class="circle-chart" data-circle-width="7" data-percent="64" data-text="6.4" >
                                            </div>
                                            <span>IMDB Ratffing</span>
                                        </div>
                                        <div class="chart-circle-r" data-animation="animated bounceInUp">
                                            <div class="circle-chart" data-circle-width="7" data-percent="84" data-text="8.4" >
                                            </div>
                                            <span>Rotten Rating</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div *ngFor="let movie of sliderFeauturedMovies; let i = index" [ngClass]="{'active': i === 0}" class="item">
                <div class="fill" [ngStyle]="{'background-image':'url(' + movie.hero_image_url + ')'}">
                 <div class="bs-slider-overlay"></div>
                    <div class="container movie-slider-container"> 
                        <div class="row">
                             <div class="col-sm-12 movie-slider-content"> 
                                <div class="slider-content" >
                                    
                                    <div class="col-xs-12 col-sm-8" >
                                        <ul class="subtitle hidden"  data-animation="animated bounceInRight">
                                            <ng-container *ngFor="let category of movie.categoryList; let j = index" >
                                                <li *ngIf="j<=2" > {{ category }} </li>
                                            </ng-container>
                                        </ul>
                                        <div class="title hidden" data-animation="animated bounceInRight" > 
                                            <a [routerLink]="['/movie', movie.id]" >{{ movie.title }}</a>
                                            <i>(&nbsp;{{ movie.release_date }}&nbsp;)</i>
                                        </div>
                                        <div class="slide_right hidden" data-animation="animated bounceInRight">
                                            <a href="javascript:;" class="btn-trailer" (click)="watchTrailer(movie)" >watch trailer</a>
                                            <div class="clearfix visible-xs"></div>
                                            <a href="javascript:;" class="btn-ticket" (click)="dataService.scrollToBuy = true" [routerLink]="['/movie', movie.id]" >buy ticket</a>
                                        </div>
                                    </div>
                                    <div class="chart-cirle hidden col-xs-3 col-sm-4" data-animation="animated bounceInUp">
                                        <div class="chart-circle-l">
                                            <div class="circle-chart" data-circle-width="7" [attr.data-percent]="movie.imdb_rating*10" [attr.data-text]="movie.imdb_rating"></div>
                                            <span>IMDB Rating</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="carousel-control left" data-slide="prev" href="#headerslider">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control right" data-slide="next" href="#headerslider">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>  
</div>
      
         
<section class="section-content">
                <div class="container-fluid pv11 ">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="heading text-center">Premiers</h3>
                        <div class="ticket-carousel pvt85">
                            <div class="swiper-container carousel-container movie-images" data-col="5">
                                <div class="swiper-wrapper">
                                    <div *ngFor="let movie of premierMovies; let i = index" class="swiper-slide">
                                        <div class="movie-image" [attr.data-bg-image]="movie.hero_image_url" [ngStyle]="{'background-image':'url(' + movie.hero_image_url + ')'}">
                                            <div class="entry-hover">
                                                <div class="entry-actions">
                                                    <a href="javascript:;" (click)="watchTrailer(movie)" class="btn-trailers video-player">watch trailer</a>
                                                    <a class="btn-ticket order_btn" (click)="buyThisShow(movie.id)" >buy ticket</a>
                                                </div>
                                            </div>
                                            <div class="entry-desc">
                                                <!--
                                                <div class="rating">
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                </div>
                                                -->
                                                <h3 [routerLink]="['/movie', movie.id]" class="entry-title">{{movie.title}}</h3>
                                                <ul class="entry-date">
                                                    <ng-container *ngFor="let shows of premierShows" >
                                                        <li *ngIf="movie.id == shows.movie_id" > {{ shows.timestamp | date:'MMM. dd. HH:mm' }} </li>
                                                    </ng-container>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>

                    </div>
                </div>
            </div>
    <div class="section-content service pvb0">
        <div class="container  pv12">
            <div class="row">
                <div class="col-sm-12">
                 <h3 class="heading text-center mb9">Your experience is gonna be exquisite.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 ph0">
                    <h2>IMAX®</h2>
                    <p> IMAX® provides an exceptional movie experience with images of immersive size, striking clarity.</p>
                </div>
                <div class="col-sm-4 ph0">
                    <h2>REALD™ 3D</h2>
                    <p>RealD™ Digital 3D is the new generation of entertainment, with crisp, bright, ultra-realistic images.</p>
                </div>
                <div class="col-sm-4 ph0">
                    <h2>Dolby®  Laboratories</h2>
                    <p>(NYSE:DLB) is the global leader in technologies that are essential elements in the best entertainment.</p>
                </div>
            </div>
            <div class="row mt8">
                <div class="col-sm-4 ph0">
                    <h2>Great Environment</h2>
                    <p> IMAX® provides an exceptional movie experience with images of immersive size, striking clarity.</p>
                </div>
                <div class="col-sm-4 ph0">
                    <h2>Entertainment Center</h2>
                    <p>RealD™ Digital 3D is the new generation of entertainment, with crisp, bright, ultra-realistic images.</p>
                </div>
                <div class="col-sm-4 ph0">
                    <h2> So Much More...</h2>
                    <p>(NYSE:DLB) is the global leader in technologies that are essential elements in the best entertainment.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 fullscreen-section">
        <div class="cinema-map" id="cinema-map"></div>
    </div>
    <!--
    <div class="fullscreen-section">
        <div id="tt-google-map" class="tt-google-map" data-lat="47.919311" data-lng="106.917643" data-zoom="16" data-saturation="-100" data-color="#333" data-marker="images/marker.png">
            <div id="gmap_content">
                <div class="gmap-item">
                    <label class="label-title">Keep in Touch</label>
                </div>
                <div class="gmap-item">
                    <label>
                        <i class="fa fa-map-marker"></i>
                    </label>
                    <span>Address : 86 New Design Street, Melbourne 105</span>
                </div>
                <div class="gmap-item">
                    <label>
                        <i class="fa fa-phone"></i>
                    </label>
                    <span>Phone: (01) 200 123 544</span>
                </div>
                <div class="gmap-item">
                    <label>
                        <i class="fa fa-envelope"></i>
                    </label>
                    <span>Email: info@example.com</span>
                </div>
            </div>
        </div>
    </div>
    -->
<script type="text/javascript" src="js/google-maps.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>

</section>
<cinema-footer></cinema-footer>