<cinema-header></cinema-header>


<steps [localStep]="globalStep" [cinema]="selectedCinema" [movie]="selectedMovie" [room]="selectedRoom"></steps>
<reservation_booking (reservationExport)="choosedReservation($event)" (complete)="incrementStep()" *ngIf="globalStep==0" [user]="user"></reservation_booking>

<seatreservation [room]="selectedRoom" [cinema]="selectedCinema" (complete)="incrementStep()" *ngIf="globalStep==1" (back)="decreaseStep()" (ticket)="dataCopy($event)" [selectedTickets]="tickets" (startMakeTicketBuying)="makeTicketBuying()" [reservedSeats]="reservedSeats"></seatreservation>

<confirmation  [ticketConfi]="tickets" [cinemaPrise]="selectedCinema" (completeConfi)="incrementStep()" (confiBack)="decreaseStep()" *ngIf="globalStep==2" [ticketDatas]="ticketData" (responseObj)="copyTicketId($event)" [movie]="selectedMovie" [reservation]="reservation" 
 (ticketCounter)="veryCounter($event)" (ticketAmountX)="veryAmount($event)"></confirmation>

<finish [reservation]="reservation" [confirmationIds]="ticketIds" [soCounter]="counter" [soAmount]="amount" *ngIf="globalStep >= 3"></finish>

<cinema-footer></cinema-footer>