
<section class="section-content pv12 bg-cover steps">
	<div class="container">
		<div class="row">
			<div class="col-md-12" id="steps">
				<div class="col-md-3 step" id="ticket-selection-step" [ngClass]="{'completed' : localStep>0,'nowactive' : 			localStep == 0}">
					<h4><i class="fa fa-check-circle" aria-hidden="true"></i> Type of your reservation</h4>
				</div>
				<div class="col-md-3 step" id="order-step" [ngClass]="{'completed' : localStep>1,'nowactive' : localStep == 1}">
					<h4><i class="fa fa-check-circle" aria-hidden="true"></i> Seat selection</h4>
				</div>
				<div class="col-md-3 step" id="confirmation-step" [ngClass]="{'completed' : localStep>2,'nowactive' : localStep 	== 2}">
					<h4><i class="fa fa-check-circle" aria-hidden="true"></i> Confirmation</h4>
				</div>
				<div class="col-md-3 step" id="finish-step" [ngClass]="{'completed' : localStep>3,'nowactive' : localStep == 3}">
					<h4><i class="fa fa-check-circle" aria-hidden="true"></i> Finish</h4>
				</div>
				<div>
					<h3 *ngIf="movie" class="booking-informations"> {{movie.title}} at {{cinema.name}} / {{room.roomName}} room</h3><h3></h3>
				</div>
			</div> 
		</div>
	</div>
</section>