<header id="header" class="menu-top-left">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-4">
                <a routerLink="/frontpage" id="logo" title="ProgCinema" class="logo-image" style="background-image: url(/assets/images/cinema-logo-new.png);">ProgCinema</a>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-8 phl0">
                <div class="header_author">
                    <a href="#">Adminda green</a>
                    <img src="assets/images/user-img.png" class="user" alt="user">
                </div>
                    <a href="javascript:;" id="header-searchAdmin"> <i class="fa fa-search" id="search-iconAdmin" aria-hidden="true"></i> </a>

                <div class="button_container" [ngClass]="{'active': isVisible }" id="toggle" (click)="isVisible = !isVisible">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
                <div class="overlay" id="overlay" [ngClass]="{'active': isVisible, 'open': isVisible, '': !isVisible, '': !isVisible}">
                <a href="javascript:;" class="close-window"> </a>
                    <nav class="overlay-menu">
                        <ul>
                            <li><a href="./">Home</a></li>
                            <li><a routerLink="/admin/cinemas">Cinemas</a></li>
                            <li><a routerLink="/admin/shows">Shows</a></li>
                            <li><a routerLink="/admin/movies">Movies</a></li>
                            <li><a routerLink="/admin/cassa">CASSA</a></li>
                            <li><a routerLink="/admin/reservation">Reservation settings</a></li>
                        </ul>
                    </nav>
                </div>           
            </div>
        </div>
    </div>
</header>