#admin-nav {
  margin-bottom: 100px;
}

.instructions {
  color: #fff;
  margin: 200px 0px 50px;
  text-align: center;
}

.instructionsRooms {
  color: #fff;
  margin: 50px 0px 50px;
  text-align: center;
}

.admin-cinemas {
  float: left;
  height: 85;
  width: auto;
  border: 3px solid #ffb400;
  margin: 25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

#edit-cinema {
  color: rgba(255, 255, 255, 0.6);
  margin: 150px 0px 50px;
  text-align: center;
}

#edit-form {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

select.form-control ng-pristine ng-valid ng-touched {
  width: 50%;
}

input[type=textarea],
input[type=email],
input[type=text] {
  color: #000;
}
#inputSideAdd>label{
  font-family: 'Open Sans';
  color:#fff;
}
#edit-roomsP {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.admin-rooms {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

#cinemaH {
  margin-bottom: 500px;
  font-family: 'Open Sans';
  color: #fff;
}

#admin-addcinema {
  font-family: 'Open Sans';
  color: #fff;

}
#inputSideAdd {
  color: #fff;
  font-family: 'Open Sans';
}
input#cdescription{
  height: 200px;
}
.mainHeader{
  margin-top: 200px;
  margin-bottom:100px;
  font-family: 'Open Sans';
  color: #fff;
  text-align: center;
}
#cinemasButton{
  font-family: 'Open Sans';
  font-size: 20px;
  text-align: center;
  height: 150px;
  width: 220px;
  margin: 10px;
}
#showsButton{
  font-family: 'Open Sans';
  font-size: 20px;
  text-align: center;
  height: 150px;
  width: 220px;
  margin: 10px;
}

#moviesButton{
  font-family: 'Open Sans';
  font-size: 20px;
  text-align: center;
  height: 150px;
  width: 220px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 96px;
}
#dollarButton{
  font-family: 'Open Sans';
  font-size: 20px;
  text-align: center;
  height: 150px;
  width: 220px;
  margin: 10px;
}

#reservationButton{
  font-family: 'Open Sans';
  font-size: 20px;
  text-align: center;
  height: 50px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 370px;
}

.admin-rows {
    margin-bottom: 5px;
}

.rowNumber {
  color: rgba(255, 255, 255, 0.6);
}

.seat {
    padding: 5px;
    border: 1px solid #fb802d;
    margin: 2px;
    cursor: pointer;
    font-size: 12px;
    color: black;
    width: 14px;
    height: 14px;
    line-height: 14px;
    display: inline-block;
}

.deleteRowButton {
    float: right;
    display: inline-block;
}

.table {
  color: #fb802d;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #333;
}

#showCinemaByShow {
  border-radius: 50%;
  background-color: transparent;
}
#cinemasShow {
    color: #ffb400;
    background-color: transparent;
    margin-bottom: 10px;
}
#cinemasShow:hover{
    color: #fff;
    background-color: #ffb400;

}
#adminShowsA {
  background-color: #111111;
  color: #ffb400;
  height: 30px;
  width: 300px;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  border: 1px solid #fb802d;
}

#adminShowsA:hover{
    color: #fff;
    background-color: #ffb400;

}
.featureName{
   height: 19px;
   width: 221px;
   text-align: center;
}
.reatings{
   height: 19px;
   width: 53px;
   text-align: center;
}
.movieLength{
   height: 19px;
   width: 53px;
   text-align: center;
}
.actualRoom{
   height: 19px;
   width: 53px;
   text-align: center;
}
#showsTable{
  border: 2px solid #fb802d;
}
.showDate{
  text-align: right;
  float: right;
  background-color: black;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #fb802d;
  color: #ffb400;
  text-decoration-line: #ffb400;
}

.cassa-container {
  margin-top: 200px;  
}

#searchUser {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchUser:focus {
    width: 80%;
}

#admin-res-cin,
#admin-res-movie,
#admin-res-date,
#admin-res-show{
  width: 80%;
}

#actualMovieTitle{
  color: #fb802d;
}
#actualMovieInfo>td{
  text-align: center;
  font-size: 14px;
}
#showsInfo>th{
text-align: center;
font-size: 20px;
color: #ffb400;
}
#inputSideAdd>textarea{
  max-width: 100%;
  max-height: 300px;
  color: black;
  size: 12px;
  text-orientation: sideways;
}
#addCinemaHeader{
  margin-top: 200px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.roomNameInput {
  margin-bottom: 20px;
  width: 60%;
}

#nameOfCinema{
  color:#ffb400;
}
#admin_cinemas>h1>a:hover {
  text-decoration: none;
  color: #ff6600;
}
.instructions{
  color:#ffb400;
}
#admin_cinemas{
  height: 200px;
  width: 440px;
  margin-left: 65px;
  margin-right: 65px;
}
#delete_Cinema{
  
  border: 1px solid #ffb400;
}
#admin_cinemas>p{
  color: #fff;
}
#closeModalShowEdit{
   border: 1px solid #ffb400;
   color: #ffb400;
}
#modalTitleAdmin{
  font-size: 22px;
  color: #ffb400;
}
.modal-body>p{
  color: #ffb400;
}
#adminShowModalFooter{
  background-color: black;
  border-top: 0px;
}
.cassa-container h3 {
    color: #fb802d;
}

.cassa-container select {
  background-color: #111111 ;
  color:#fff;
  border: 1px solid #fb802d;
  margin-top: 5px;
  margin-bottom: 5px;
} 
#premierAdmin{
  color: #ffb400;
}
#isPremier{
  border-color: #ffb400;
  color: #ffb400;
}
#movieRooms{
  color: #ffb400;
}

.cinema-address {
    margin-bottom: 15px;
}

#nameOfCinema {
    padding-top: 15px;
}
#header-searchAdmin{
  padding: 0px 0px 10px 150px;
  color: #fff;
}
#header-searchAdmin:hover{
  color: #fb802b;
}


#addnewCinema:hover {
    color: #fb802d;
    background: #fff;
    border: 1px solid #fb802d;
}

.movie-pic-book button:hover {
    color: #fb802d;
    background: #fff;
    border: 1px solid #fb802d
}