header#header #header-logout {
	height: 50px;
  text-decoration: none;
  color: white;
  transition: all 0.25s ease;
}
header#header #header-logout a:hover {
  color: #fb802d;
}
header#header #logout-icon:before {
	font-size: 17px;
	width: 30px;
	height: 30px;
	position: relative;
	display: block;
  text-decoration: none;
  margin-left: -5px;
} 
header#header #logout-icon:hover {
	text-decoration: none;
  cursor: pointer;
  color: #fb802d;
}
header#header .header-reg {
	margin-left: 50px;
	float: left;
	display: inline-block;
}
header#header .header-reg:after {
  content: '|';
  color: #fb802d;
  margin-left: 15px;
  margin-right: 15px;
}
header#header .header-reg a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Open Sans';
  letter-spacing: 1px;
  transition: all 0.25s ease;
  margin-right: 30px;
  text-shadow: 0.5px 0.5px 5px black;
}
header#header .header-reg a:hover {
  cursor: pointer;
	color: #fb802d;
}
header#header .header-sign {
	margin-left: 0px;
	float: left;
	display: inline-block;
}
header#header .header-sign:after {
	content: '|';
    color: #fb802d;
    margin-left: 15px;
    margin-right: 15px;
}
header#header .header-sign a {
	color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans';
    letter-spacing: 1px;
    transition: all 0.25s ease;
    margin-right: 30px;
    margin-left: 30px;
    text-shadow: 0.5px 0.5px 5px black;
}
header#header .header-sign a:hover {
  cursor: pointer;
	color: #fb802d;
}
header#header .header_user {
  margin-left: -50px;
  float: left;
  display: inline-block;
}
header#header .header_user:after {
  content: '|';
  color: #fb802d;
  margin-left: 15px;
  margin-right: 15px;
}
header#header .header_user a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Open Sans';
  letter-spacing: 1px;
  transition: all 0.25s ease;
  margin-right: 30px;
  text-shadow: 0.5px 0.5px 5px black;
}
header#header .header_user a:hover {
  cursor: pointer;
  color: #fb802d;
}
header#header .header_user .caret {
  vertical-align: middle;
  position: relative;
  top: 2px;
}
header#header .header_user .username {
  display: inline-block;
  max-width: 140px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.5;
  vertical-align: middle;
}
header#header .header_user .dropdown-menu {
  background-color: black;
  transition: all 0.25s;
  border: 1px solid #fb802d;
  top: -200%;
  visibility: hidden;
  display: block;
}
header#header .header_user.open>.dropdown-menu {
  top: 100%;
  visibility: visible;
  display: block;
}
header#header .header_user .dropdown-menu a {
  margin-right: 0;
  background-color: black;
  color: white;
}
header#header .header_user .dropdown-menu a:hover {
  cursor: pointer;
  color: #fb802d;
}
header#header .header_user img {
  max-width: 40px;
  max-height: 40px;
  height: auto;
  width: auto;
}
header#header .header_ticket {
  margin-left: 0px;
  float: left;
  display: inline-block;
}
header#header .header_ticket:after {
  content: '|';
  color: #fb802d;
  margin-left: 15px;
  margin-right: 15px;
}
header#header .header_ticket a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Open Sans';
  letter-spacing: 1px;
  transition: all 0.25s ease;
  margin-right: 30px;
  text-shadow: 0.5px 0.5px 5px black;
}
header#header .header_ticket a:hover {
  cursor: pointer;
  color: #fb802d;
}
header#header .overlay nav {
	opacity: 0;
	transition: opacity 0.35s;
}
header#header .overlay.open nav {
	opacity: 1;
}
header#header .overlay .form-horizontal {
    position: relative;
    height: 70%;
    top: 70%;
    left: 70%;
    font-size: 14px;
    font-family: 'Roboto', serif;
    font-weight: 100;
    text-align: center;
    line-height: 20px;
    z-index: 100;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.35s;
}
@media screen and (max-width: 768px) {
  header#header .overlay .form-horizontal {
    transform: translate(-70%, -70%);
  }
}
header#header .overlay.open .form-horizontal {
	opacity: 1;
}
header#header .overlay .form-horizontal .form-group span {
	float: left;
}
header#header .overlay .form-horizontal input{
  color: black;
  text-transform: none;
  font-style: normal;
}
header#header .overlay .form-horizontal p {
	float: left;
	font-size: 10px;
	text-align: left;
	line-height: 12px;
	padding-left: 5px;
	padding-top: 5px;
}
header#header .overlay .form-horizontal button{
	color:#fb802d;
	outline-width: 0px;
}
header#header .button_container {
	top: 38%;
	transition: all 0.25s ease;
} 

@media screen and (max-width: 1200px) and (min-width: 992px) {
    header#header .header-reg {
        margin-left: 20px;
    }
}
@media screen and (max-width: 800px) and (min-width: 768px) {
    header#header .header-reg {
        margin-left: 10px;
    }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
    header#header .header-reg,
    header#header .header-reg a,
    header#header .header-reg:after,
    header#header .header-sign a,
    header#header .header-sign:after {
        margin-left: 10px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
    header#header .header_user {
        margin-left: -30px;
    }
}
@media screen and (max-width: 800px) and (min-width: 768px) {
    header#header .header_user {
        margin-left: -40px;
    }
}
@media screen and (max-width: 767px) and (min-width: 510px) {
    header#header .header_user {
        margin-left: 10px;
    }
}
@media screen and (max-width: 767px) and (min-width: 510px) {
    header#header .header_ticket {
        line-height: 90px;
    }
}
@media screen and (max-width: 509px) and (min-width: 320px) {
    header#header .header_user,
    header#header .header_user a,
    header#header .header_user:after,
    header#header .header_ticket,
    header#header .header_ticket a,
    header#header .header_ticket:after {
        margin-left: 0px;
        margin-right: 5px;
        /*line-height: 90px;*/
    }
}
#reg-mail-message .modal-header {
  border-radius: 10px;
}
#reg-mail-message .modal-body{
  height: 100px;
}
#reg-mail-message .modal-content {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #fb802d;
}
#reg-mail-message .modal-body p {
  color: white;
}
#reg-mail-message .modal-header .close {
  opacity: 0.7;
}
#reg-mail-message .modal-header .close span {
  color:white;
}

#logout-message .modal-header {
  border-radius: 10px;
}
#logout-message .modal-body{
  height: 50px;
}
#logout-message .modal-content {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #fb802d;
}
#logout-message .modal-body p {
  color: white;
}
#logout-message .modal-header .close {
  opacity: 0.7;
}
#logout-message .modal-header .close span {
  color:white;
}

#bad-login-message .modal-header {
  border-radius: 10px;
}
#bad-login-message .modal-body{
  height: 50px;
}
#bad-login-message .modal-content {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #fb802d;
}
#bad-login-message .modal-body p {
  color: white;
}
#bad-login-message .modal-header .close {
  opacity: 0.7;
}
#bad-login-message .modal-header .close span {
  color:white;
}

#bad-regin-message .modal-header {
  border-radius: 10px;
}
#bad-regin-message .modal-body{
  height: 50px;
}
#bad-regin-message .modal-content {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #fb802d;
}
#bad-regin-message .modal-body p {
  color: white;
}
#bad-regin-message .modal-header .close {
  opacity: 0.7;
}
#bad-regin-message .modal-header .close span {
  color:white;
}

#fp-mail-message .modal-header {
  border-radius: 10px;
}
#fp-mail-message .modal-body{
  height: 90px;
}
#fp-mail-message .modal-content {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #fb802d;
}
#fp-mail-message .modal-body p {
  color: white;
}
#fp-mail-message .modal-header .close {
  opacity: 0.7;
}
#fp-mail-message .modal-header .close span {
  color:white;
}

#forgot-pass-message .modal-body{
  height: 100px;
}
#forgot-pass-message .modal-content {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #fb802d;
}
#forgot-pass-message .modal-body p {
  color: white;
}
#forgot-pass-message .modal-header {
  margin-bottom: 30px;
  border-radius: 10px;
}
#forgot-pass-message .modal-header .close {
  opacity: 0.7;
}
#forgot-pass-message .modal-header .close span {
  color:white;
}

#forgot-pass-message .form-group {
  margin-bottom: 25px;
  height: 60px;
}
#forgot-pass-message .form-group span {
  font-size: 12px;
  margin: 0;
}
#forgot-pass-message .form-group.has-error span {
  color: #ff0c00;
}
#forgot-pass-message .form-group p {
  float: left;
  font-size: 10px;
  text-align: left;
  line-height: 12px;
  padding-left: 5px;
  padding-top: 5px;
  color: #fb802d;
}
#forgot-pass-message .form-group label {
  color: #fb802d;
}
#forgot-pass-message .form-group.has-error label {
  color: #ff0c00;
}
#forgot-pass-message .form-group.has-error input {
  border: 2px solid #ff0c00;
}
#forgot-pass-message .form-group.has-success label {
  color: #10ff00;
}
#forgot-pass-message .form-group.has-success input {
  border: 2px solid #10ff00;
}
#forgot-pass {
  text-decoration: none;
  color: #fb802d;
  float: right;
}
#forgot-pass:hover {
  text-decoration: underline;
  cursor: pointer;
}

#bad-reset-message .modal-header {
  border-radius: 10px;
}
#bad-reset-message .modal-body{
  height: 90px;
}
#bad-reset-message .modal-content {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #fb802d;
}
#bad-reset-message .modal-body p {
  color: white;
}
#bad-reset-message .modal-header .close {
  opacity: 0.7;
}
#bad-reset-message .modal-header .close span {
  color:white;
}

#new-pass-message .modal-body{
  height: 250px;
}
#new-pass-message .modal-content {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #fb802d;
}
#new-pass-message .modal-header {
  margin-bottom: 30px;
  border-radius: 10px;
}
#new-pass-message .modal-header .close {
  opacity: 0.7;
}
#new-pass0-message .modal-header .close span {
  color:white;
}
#new-pass-message .form-group {
  margin-bottom: 25px;
  height: 60px;
}
#new-pass-message .form-group span {
  font-size: 12px;
  margin: 0;
}
#new-pass-message .form-group.has-error span {
  color: #ff0c00;
}
#new-pass-message .modal-body p {
  font-size: 12px;
  text-align: left;
  line-height: 12px;
  padding-left: 15px;
  padding-top: 5px;
  color: #fb802d;
  margin-bottom: 50px;
}
#new-pass-message .modal-body p.success-reset {
  font-size: 18px;
  text-align: left;
  line-height: 18px;
  padding-left: 15px;
  padding-top: 5px;
  color: white;
  margin-bottom: 20px;
}
#new-pass-message .form-group label {
  color: #fb802d;
}
#new-pass-message .form-group.has-error label {
  color: #ff0c00;
}
#new-pass-message .form-group.has-error input {
  border: 2px solid #ff0c00;
}
#new-pass-message .form-group.has-success label {
  color: #10ff00;
}
#new-pass-message .form-group.has-success input {
  border: 2px solid #10ff00;
}
#new-pass-message .modal-footer p {
  color: white;
}

#account-settings .modal-header {
  border-radius: 10px;
}
#account-settings .modal-body{
  height: 350px;
  border-top: 1px solid #e5e5e5;
}
#account-settings #avatar {
  height: 245px;
  width: 245px;
  background-color: black;
  padding: 0;
  /*border: 1px solid #fb802d;*/
}
#account-settings #change-avatar {
  text-align: center;
  color:white;
  margin-top: 30px;
  transition: all 0.35s;
}
#account-settings #change-avatar a {
  text-decoration: none;
  color:white;
}
#account-settings #change-avatar a:hover {
  color: #fb802d;
  cursor: pointer;
  text-decoration: none;
}
#account-settings #change-pass {
  text-align: center;
  color: white;
  margin-top: 30px;
  transition: all 0.35s;
}
#account-settings #change-pass span:hover {
  color: #fb802d;
  cursor: pointer;
}
#account-settings .modal-content {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #fb802d;
}
#account-settings .modal-body .name {
  color: black;
  text-align: center;
  margin-top: 78px;
}
#account-settings .modal-body .name label {
  color: #fb802d;
}
#account-settings .modal-body .mail {
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 76.5px;
}
#account-settings .modal-body .mail label {
  color: #fb802d;
}
#account-settings .modal-body #avatar img {
  max-height: 243px;
  max-width: 243px;
  display: block;
  height: 100%;
  width: auto;
  vertical-align: middle;
  margin: 0 auto;
}
#account-settings .modal-header .close {
  opacity: 0.7;
}
#account-settings .modal-header .close span {
  color:white;
}
#account-settings .modal-footer {
  border-top: 20px;
}
#account-settings .modal-footer p {
  color:white;
  text-align: left;
}
#account-settings .modal-footer .upload {
  float: left;
}

#changes-message .modal-header {
  border-radius: 10px;
}
#changes-message .modal-body{
  height: 250px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
#changes-message .modal-content {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #fb802d;
}
#changes-message .modal-body p {
  color: white;
}
#changes-message .modal-body p#your-changes {
  font-size: 20px;
  color: #fb802d;
}
#changes-message .modal-body p#email-changer {
  color: #fb802d;
}
#changes-message .modal-header .close {
  opacity: 0.7;
}
#changes-message .modal-header .close span {
  color:white;
}

.pv11 {
	
}
body {
	background-color: #111111;
}
body.sticky-menu #header {
	background-color: rgba(15, 15, 15, 0.2);
}
body.sticky-menu.stick #header.menu-top-left #logo {
	height: 50px;
	background-position: center center;
	margin-top: 0;
}
body.sticky-menu.stick #header.menu-top-left div:not(.overlay):not(.form-horizontal):not(.form-group) {
	line-height: 50px;
}
body.sticky-menu.stick #header .button_container {
	top: 28%;
}
body.no-scroll {
	height: 100%;
	overflow: hidden;
}

.fullwidth-slider .carousel-control.left {
	left: 4%;
}
.fullwidth-slider .carousel-control.right {
	right: 4%;
}
.fullwidth-slider .carousel-inner .fill .slider-content {
	text-shadow: 0.5px 0.5px 5px black;
}
.fullwidth-slider .carousel-inner .fill .slider-content .title a {
	text-decoration: none;
	color: #fff;
  transition: all 0.25s ease;
}
.fullwidth-slider .carousel-inner .fill .slider-content .title a:hover {
	text-decoration: none;
  color: #fb802d;
}
.fullwidth-slider .carousel-inner .fill .slider-content .title i {
  font-family: 'Montserrat-light', serif;
}
.fullwidth-slider .carousel-inner .fill .slider-content .chart-cirle {
  margin-top: 30px;
}
@media screen and (max-width: 800px) {
  .fullwidth-slider .carousel-inner .fill .slider-content .slide_right .btn-ticket:before {
    padding-left: 0;
  }
}

.section-content .heading {
  color: white;
}

.section-content .service {
  background-color: black;
}
.section-content .service p {
  color: white;
}
.section-content .entry-title:hover {
  cursor: pointer;
  color: #fb802d;
}
.ticket-carousel .swiper-slide .entry-desc {
  width: 100%;
  padding-top: 50px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}
.ticket-carousel .swiper-slide h3.entry-title {
  float: none;
  width: auto;
  margin-bottom: 10px;
  text-align: center;
}
.ticket-carousel .swiper-slide .entry-date {
  float: none;
  width: auto;
}
.ticket-carousel .swiper-slide .entry-date li {
  line-height: 20px;
  text-align: center;
  float: none;
  margin: 0;
  color: #fb802d;
}
.ticket-carousel .movie-image .entry-hover .entry-actions a:hover {
  cursor: pointer;
}

.fullscreen-section {
	padding-left: 0;
	padding-right: 0;
}
.fullscreen-section .cinema-map{
	height: 458px;
}
.fullscreen-section .cinema-map .gmap-item h4{
	padding-bottom: 10px;
}
.fullscreen-section .cinema-map .gmap-item i{
	padding-right: 10px;
	height: 15px;
	width: 15px;
}
.cinemas-title-box {
	margin-top: 150px;
	margin-bottom: 80px;
	text-align: center;
	border-bottom: 1px solid #f44336;
}
.cinemas-title {
	color: #ffffff;
    font-style: normal;
    text-transform: uppercase;
    font-family: 'Montserrat-light', serif;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.single-cinema-title {
	color: #fb802d;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 300;
    margin-bottom: 20px;
}
.single-cinema-title a {
	color: #fb802d;
}
.cinema-description {
	font-family: 'Open Sans';
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    padding-bottom: 10px;
}
.cinema-data li {
	margin-bottom: 120px;
}
.cinema-data li span {
	color: rgba(255, 255, 255, 0.6);
	margin: 0 20px 0 0;
	font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
.cinema-address {
	color: rgba(255, 255, 255, 0.6);
	margin: 0 20px 0 0;
	font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
.btn.more {
	margin-top: 20px;
}
.btn.more:before, button.more:before, input[type=button].more:before, input[type=submit].more:before {
	content: none;
}
.btn.more:hover:before, button.more:hover:before, input[type=button].more:hover:before, input[type=submit].more:hover:before {
	content: none;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  background: #f2f2f2;
  color: #fb802d;
  border: 2px solid #fb802d;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
      border: 1px solid #fb802d;
}

.cinema-map {
	background-color: lightgray;
	height: 300px;
	margin-bottom: 40px;
}

#footer .address-info i {
  padding-right: 10px;
}
#footer .menu a:hover {
  cursor: pointer;
}
.movie-pic-box {
	margin-top: 150px;
}

.movie-pics-border {
  cursor: pointer;
	border: 5px solid white;
	display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.movie-pics-border:hover {
	opacity: 0.5;
}

<<<<<<< HEAD
=======
.step {
  display: inline-block;
  margin: 0 auto;
  padding: 15px;
  border: 3px solid rgb(240,132,50);
}

.step h4 {
  float: right;
}

.options-select {
  position: relative;
  top: 20px;
  margin: 20px;
}

.ticket-selection h1 {
  color: rgb(240,132,50);
  padding: 30px 0;
}

.ticket-selection h4 {
  color: rgb(240,132,50);
  font-size: 18px;
}

.ticket-selection a, input {
  cursor: pointer;
}

.ticket-selection p {
  color: white;
  margin-left: 45px;
}

.ticket-option {
  display: inline;
}

input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: 0;
}

input[type='radio'] {
  -webkit-appearance:none;
  position: relative;
  top: 3px;
  width:20px;
  height:20px;
  border:1px solid gray;
  border-radius:50%;
  outline:none;
  margin: 0 10px;
}

input[type='radio']:hover,
input[type='checkbox']:hover{
  box-shadow:0 0 5px 0px rgb(240,132,50) inset;
}

input[type='radio']:before {
  content: '';
  display:block;
  width: 60%;
  height: 60%;
  margin: 20% auto;   
}

input[type='checkbox']:before {
  position: relative;
  left: 4px;
  content: '✔';
  color: grey;
  width:50%;
  height:50%;
  margin: 20% auto;

}

input[type='radio']:before {
  border-radius:50%;
}
input[type='radio']:checked:before{
  background-color: rgb(240,132,50);
}

input[type='checkbox']:checked:before {
  
  content: '✔';
  font-size: 13px;
  color: rgb(240,132,50);

}

input[type='checkbox'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid gray;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
  margin: 0px 10px;
}




#termsmodal { 
              top: 25%;
              left: 25%;
              width: 50%; 
              height: 50%;
              background-color: black;}


#termsmodal h2 {
  color: rgb(240,132,50);
  text-align: center;
}

#termsmodal .modal-body p {
  color: white;
}

#termsmodal .modal-header {
  border-bottom: 2px solid grey;
}

#termsmodal .modal-header button {
  color: white;
}
#termsmodal.modal-body {
  background-color: black;
}

.termsline {
  position: relative;
  top: 50px;
  font-size: 12px;
}

.termsline p {
  position: relative;
  top: 4px;
  margin-left: 5px;
  display: inline;
}

.nextbtn {
  float: right;
  animation: showUp 1s;
}
.nextbtn:hover,
.backbtn:hover {
  color: black;
  background-color: rgb(240,132,50);
}

.nowactive h4{
  color: white;
}

.completed {
  color: black;
  background-color: rgb(240,132,50);
  animation: showUp 0.7s;
}

.price {
  display: inline;
  color: white;
  float: right;
}

.newform{
  position: relative;
  animation: scrollFromRight 0.7s;
}

.done {
  position: relative;
  right: 0px;
  animation: scrollLeft 1s;
}

.backeffect {
  position: relative;
  left: 0;
  animation: scrollFromLeft 1s;
}

.steps {
  position: relative;
  top: 70px;
}

.cinemarow {
   list-style-type: none;
}

.denied-reservation {
  color: red;
  font-weight: 1300;
  background-color: rgb(17,17,17);
  animation: deniedEffect 0.3s;
}

.booking-informations {
  padding-top: 15px;
  float: right;
  color: rgb(240,132,50);
}

.cinemarow input[type="checkbox"]{
  margin: 10px;
  content:'';
  background-color: green;
}

.cinemarow input[type='checkbox']:before{
  content:'';
  margin: 10px;
  
}

input[type='checkbox'][disabled],
input[type='checkbox'][disabled]:before {
  content: '';
  margin: 10px;
  background-color: red;

}
input[type='checkbox'].reservedseat:hover {
  box-shadow: none;
}

.cinemarow input[type='checkbox']:checked {
  margin: 10px;
  content:'';
  background-color: rgb(240,132,50);
}

.cinemarows {
  text-align: center;
}

.rowid{
  color: white;
  font-size:15px;

}

.rowidleft {
  float: left;
}
.rowidright {
  float: right;
}

.cinemascreen {
  position: relative;
  width: 550px;
  height: 20px;
  left: 27%;
  border-radius: 30%;
  background-color: grey;
  box-shadow: 0px 0px 7px 0px white inset;
  margin-bottom: 70px;
}

.fadeDown {
  opacity: 1;
  animation: fadeDownEffect 0.7s
}

.fadeUp {
  opacity: 1;
  animation: fadeUpEffect 0.5s;
}

@keyframes deniedEffect {

  0% {background-color: white;}
  100%{background-color: rgb(17,17,17);}

}

@keyframes fadeUpEffect {

  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeDownEffect {

  0% {opacity: 1;}
  100% {opacity: 0;
        display: none;}

}

@keyframes showUp {
  0% {transform: scale(3);
      opacity: 0;}

  100% {transform: scale(1);
      opacity: 1;}
}

@keyframes scrollLeft {
  0% {display: inline;
      opacity: 1;}
  100% {right: 2000px;
      opacity: 0;
      display: none;}
}

@keyframes scrollFromRight {
  0% {display: inline;
      opacity: 0;
      left: 2000px}
  100% {left: 0;
      opacity: 1;}
}

@keyframes scrollFromLeft {
  0% {display: inline;
      opacity: 0;
      left: 0}
  100% {left: 2000px;
      opacity: 1;}
}

@keyframes activeAnimation {
  0% {transform: scale(1)}
  50% {transform: scale(1.1)}
  100% {transform: scale(1)}
}

.shows-cinemas-container {
  margin-top:200px
}

.shows-table.hide-shows-table{
  display:none;
}

.shows-container h3{
  color: #f2f2f2;
  padding: 5px;
   display: inline-block;  
}

.shows-headline  {
  border: 2px solid #fb802d; 
  text-align: left;
  color: #f2f2f2;
}
.shows-on-screen {
  border: 2px solid #fb802d; 
  text-align: left;  
}
.shows-on-screen a {
  color:#fb802d;
 } 

.shows-on-screen tr:nth-child(even) {
  color: #fb802d;
  background: #f2f2f2;
}

.shows-on-screen tr:nth-child(odd) {
  color: #fb802d;
}

.shows-choose-date {
  position: relative;
  display: inline-block;
  float: right;
  margin-bottom: 5px;
  border: 2px solid #fb802d;
  color: #fb802d;
  background-color: black;  
}
/*
.shows-choose-date .ng-untouched{
  background: #f2f2f2;
}
*/
.cinema-list-forshows .btn{
  color:#f2f2f2; 
}
.cinema-list-forshows .btn.active{
  color:#fb802d; 
}

.cinema-list-forshows .btn:hover{
  color:#fb802d; 
}

.reservation-custom-select {
  border-radius: 3px;
  background-color: rgb(29, 30, 30);
  border:1px solid #ffffff;
  color:#ffffff;
}

.reservation-select-name {
  color:#ff6a00;
}

.btn{
  padding:5px 10px;
}

.clearleft {
  clear: left;
}


.ticket-body {
  position: relative;
  color: white;
}

.basket-modal.pricehead,
.basket-modal.price {
  float: right;
}

.basket-header-row {
  margin-bottom: 30px;
  text-align: center;
}

.datarow {
  text-align: center;
}

.basket-modal{
  display: inline;
}

.form-control[disabled]{
  background-color: #333;
}

.modalbutton {
  color: black;
}

.modal-footer h4 {
  color: red;
  float: left;
  text-shadow: 2px 2px 10px black;
}

.modalbutton:hover{
  color: black;
  background-color: rgb(240,132,50);
}

.confi-text{
  color:#ffffff;
}

.confi-total{
  margin-top: 20px;
  color:#ffffff;
  font-size: 30px;
}

.ticket-selection {
  color: rgb(240,132,50);
  padding: 30px 0;
}

.confi-page {
  color:#ffffff;
  font-size: 25px;
}

.confi-id {
  font-style: italic;
}

.confi-page-min {
  font-size: 15px;
}

