<admin-navbar></admin-navbar>
<h1 class="instructions">Add new movie here.</h1>	
<div class="container movie-pic-box">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 text-right">Title</label>
                <div class="col-sm-5">
                    <input type="text" placeholder="Title" class="form-control" [(ngModel)]="movie.title">
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-sm" (click)="fetchFromTMDB()">Fetch movie data from TMDB</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-right">Description</label>
                <div class="col-sm-9">
                    <textarea placeholder="Short description" class="form-control" rows="4" [(ngModel)]="movie.description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-right">Length of the film</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Length (in minutes)" class="form-control" [(ngModel)]="movie.length">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-right">Rated</label>
                <div class="col-sm-9">
                    <select class="form-control" [(ngModel)]="movie.rated">
                        <option *ngFor="let r of ratings" value="{{r.key}}">{{ r.value }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-right">Director</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Director" class="form-control" [(ngModel)]="movie.director">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-right">Actors</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Actors" class="form-control" [(ngModel)]="movie.actors">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-right">Category</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Category" class="form-control" [(ngModel)]="movie.category">
                </div>
            </div>         
            <div class="form-group">
                <label class="col-sm-3 text-right">Imdb rating</label>
                <div class="col-sm-9">
                    <input type="number" placeholder="0.0" class="form-control" [(ngModel)]="movie.imdb_rating">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-right">Trailer URL</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Trailer URL" class="form-control" [(ngModel)]="movie.trailer_url">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-right">Thumbnail URL</label>
                <div class="col-sm-9">  
                    <input type="text" placeholder="Thumbnail URL" class="form-control" [(ngModel)]="movie.thumbnail_url">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-right">Hero Image URL</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Hero Image URL" class="form-control" [(ngModel)]="movie.hero_image_url">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-right">Background Image URL</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Background Image URL" class="form-control" [(ngModel)]="movie.background_image_url">
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="col-sm-3 text-right">Premier</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="blankCheckbox" value="option1" aria-label="..." >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-right">Release date</label>
                <div class="col-sm-9">
                    <input type="number" placeholder="Release date" class="form-control" [(ngModel)]="movie.release_date">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button (click)="addNewMovie()" type="save">SAVE</button>
            </div>
        </div>
	</div>	
<cinema-footer></cinema-footer>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Choose the movie you'd like to add!</h4>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
            <li *ngFor="let tr of tmdbResults"><a (click)="getMovieAndClosePopup(tr.id)">{{tr.title}}
                <span>{{tr.release_date}}</span></a>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Choose</button>
      </div>
    </div>

  </div>
</div>
