<admin-navbar></admin-navbar>	
<div class="container movie-pic-box">
	<div class="row">
		<table class="table table-striped table-bordered" *ngIf="movies.length > 0" >
			<tr>
				<td>
					<button routerLink="/admin/movies/add" type="addMovie">Add new movie</button>
				</td>
			</tr>
			<tr>
				<th>Title</th> 
				<th>Length</th>
				<th>Release date</th>
				<th></th>
			</tr>
			<tr *ngFor="let m of movies; let i = index">
				<td>{{m.title}}</td>
				<td>{{m.length}}</td> 
				<td>{{m.release_date | date : 'yMd'}}</td>
				<td>
					<button [routerLink]="['/admin/movies/', m.id]">Edit</button>
					<button (click)="deleteThisMovie(i)">Delete</button>
				</td>
			</tr>
		</table>
	</div>
</div>	
<cinema-footer></cinema-footer>