<admin-navbar></admin-navbar>
<div class="mainHeader">
	<h1>Welcome on the Admin-Side! Feel your App!<3 </h1>
	<h2>Choose the Menu what	 you need!</h2>	
</div>



<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<button id="cinemasButton" routerLink="/admin/cinemas" type="button" class="">CINEMAS</button>
			<button id="showsButton" routerLink="/admin/shows" type="button" class="">SHOWS</button>
		</div>
		<div class="col-xs-6-">
			<button id="moviesButton" routerLink="/admin/movies" type="button" class="">MOVIES</button>
			<button id="dollarButton" routerLink="/admin/cassa" type="button" class="">'Cassa'</button>
		</div>
	</div>
</div>
<hr>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<button id="reservationButton" routerLink="/admin/reservation" type="button" class="btn btn-danger">RESERVATION SETTINGS</button>
		</div>
</div>
</div>
