<admin-navbar></admin-navbar>
<div class="cassa-container container">
	<div class="row">
		<div class="col-md-12">
			<div class="cinema-select">
				<h3>Choose a cinema</h3>
				<select [(ngModel)]="chosenCinemaId" (change)="reloadMovies()">
					<option value="{{ cinema.id }}" *ngFor="let cinema of cinemas">{{ cinema.name }}</option>
				</select>
			</div>
			<div class="movie-select">
				<h3>Choose a movie</h3>
				<select (change)="reloadShows()" [(ngModel)]="chosenMovieId">
					<option value="{{ movie.id }}" *ngFor="let movie of movies" >{{movie.title}}</option>
				</select>
			</div>
			<div class="date-select">
				<h3>Choose a date</h3>
				<select [(ngModel)]="chosenShowId">
					<ng-container *ngFor="let show of shows">
					<option value="{{ show.id }}" *ngIf="show.cinema_id == chosenCinemaId">{{ show.timestamp | date:"y.MM.dd. HH:mm" }}</option>
					</ng-container>
				</select>
			</div>
			<div class="chosenShowIdButton pull-right">
				<button class="btn btn-primary" [routerLink]="['/booking', chosenShowId ]" *ngIf="chosenShowId" >Booking</button>
			</div>
			<!--
			<div class="date-select">
				<h3>Choose a date</h3>
				<select [(ngModel)]="chosenShowId">
					<option value="{{ show.id }}" *ngFor="let show of shows">{{ show.timestamp | date:"y.MM.dd. HH:mm" }}</option>
				</select>
			</div>
			-->
			<!--
			<div class="date-select">
				<h3>Choose a date</h3>
				<select [disabled]="isDisabled">
					<option value="{{ show.id }}" *ngFor="let show of shows">{{ show.timestamp | date:"y.MM.dd.HH:mm" }}</option>
				</select>
			</div>
			-->
			<!--
			<div class="movie-select">
				<h3>Choose a movie</h3>
				<select (change)="reloadShows()">
					<option value="{{ movie.id }}" *ngFor="let movie of movies" >{{movie.title}}</option>
				</select>
			</div>
			<div class="date-select">
				<h3>Choose a date</h3>
				<select [(ngModel)]="chosenMovieId">
					<option value="{{ show.id }}" *ngFor="let show of shows">{{ show.timestamp | date:"y.MM.dd.HH:mm" }}</option>
				</select>
				
			</div>
			-->
		</div>
	</div>
</div>
