<cinema-header></cinema-header>
<div class="container">
	<div class="row">
		<div class="col-xs-12 cinemas-title-box">
			<h1 class="cinemas-title">Cinemas</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" *ngFor="let c of cinemas; let i = index">
		<div class="col-md-8 col-sm-6">
			<ul class="list-unstyled cinema-data">
				<li>
					<h1 class="single-cinema-title"> {{ c.name }} </h1>
					<p class="cinema-description"> {{ c.description }} </p>
					<span>Rooms: {{ c.rooms?.length }} </span>
					<span>Ticket price: {{ c.base_ticket_price }} HUF </span>
					<span>Phone: {{ c.phone }} </span>
					<span>E-mail: {{ c.email }} </span>
					<p class="cinema-address"> Address: {{ c.address }} </p>
					<a [routerLink]="['/cinema', c.id]" class="btn more" > DETAILS </a>
				</li>
			</ul>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="cinema-map" id="cinema-map-{{c.id}}"></div>
		</div>
	</div>
</div>
<cinema-footer></cinema-footer>