<cinema-header *ngIf="!hide" ></cinema-header>

    <div class="shows-cinemas-container container" [ngClass]="{ 'hide-margin-top': hide }" > 
        <div class="row"  >
            <div class="col-md-12" >
                <ul *ngIf="!hide" class="cinema-list-forshows list-unstyled list-inline"  >
                    <li><a class="btn btn-primary" [ngClass]="{ active : chosenCinema.id == 0 }" (click)="clickedCinema(null)">All cinemas</a></li>
                    <li *ngFor="let cinema of cinemaForTimeTable" ><a class="btn btn-primary" [ngClass]="{ active : chosenCinema.id == cinema.id }" (click)="clickedCinema(cinema)">{{ cinema.name }}</a></li>
                   
                </ul>
                <div class="shows-container">
                    <h3>Shows of {{ chosenCinema.name || "all cinemas" }}</h3>
                    <div class="shows-choose-date">       
                        <input [ngModel]="showDate | date:'yyyy-MM-dd'" (ngModelChange)="showDate = $event; getShowsForCinema()" type="date" name="showDate"
                        />
                    </div>
                    <div *ngIf="filterMovies().length > 0">
                    <table class="shows-table table table-bordered table-striped"  >
                        <thead>
                            <tr class="shows-headline">
                                <th id="movie-title">Title</th>
                                <th id="movie-length">Length</th>
                                <th id="movie-rated">Rated</th>
                                <th *ngFor="let h of hours">{{ h }}</th>
                            </tr>
                        </thead>
                        <tbody class="shows-on-screen">
                            <tr *ngFor="let movie of filterMovies()">
                                <td><a [routerLink]="['/movie', movie.id]">{{movie?.title}}</a></td>
                                <td>{{movie?.length}} min</td>
                                <td>{{movie?.rated}}</td>

                                <th *ngFor="let h of hours"><a *ngIf="getMovieShowsInHour(movie, h)" [routerLink]="['/booking', getMovieShowsInHour(movie, h).showId ]">{{ getMovieShowsInHour(movie, h).time }}</a></th>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="no-shows text-center" *ngIf="filterMovies().length == 0">
                        <h3>No Shows available on this day!</h3>
                    </div>
                </div>
            </div>
            </div>
        </div>
        
        
<!--
    <div class="container" style="margin: 25px auto;">
        <table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Fain Mozi</th>
                <th>Cool Mozi</th>
                
                <th id="movie-name">Movie Name</th>
                <th id="movie-length">Length</th>
                <th id="movie-age-limit">Age Limit</th>
                <th id="movie-type">Type</th>
                <th id="movie-language">Language</th>
                <th id="movie-rated">Rated</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let show of shows">
                <td>{{shows.movie.title}}</td>
                <td>{{shows.movie.length}}</td>
                <td>{{shows.movie.rated}}</td>



            </tr>

            <tr>
                <td>Donna</td>
                <td>42</td>
                <td>18</td>
                <th>10:45</th>
                <th></th>
                <th></th>
                <th></th>
                <th>14:30</th>
                <th></th>
                <th></th>
                <th></th>
                <th>18:45</th>
                <th></th>
                <th></th>
                <th></th>
                <th>22:10</th>
            </tr>
            <tr>
                <td>Barbi</td>
                <td>42</td>
                <td>18</td>
                <th></th>
                <th>11:30</th>
                <th></th>
                <th></th>
                <th></th>
                <th>15:00</th>
                <th></th>
                <th></th>
                <th>18:00</th>
                <th></th>
                <th>20:15</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Bobi</td>
                <td>42</td>
                <td>18</td>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>17:00</th>
                <th>18:45</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Barbi</td>
                <td>42</td>
                <td>18</td>
                <th></th>
                <th>11:30</th>
                <th></th>
                <th></th>
                <th></th>
                <th>15:00</th>
                <th></th>
                <th></th>
                <th>18:00</th>
                <th></th>
                <th>20:15</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Bobi</td>
                <td>42</td>
                <td>18</td>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>17:00</th>
                <th>18:45</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                </tr>
            </tbody>
        </table>
    </div>
 -->   
<cinema-footer></cinema-footer>