body{
	
}
#movie-name{
	width: 450px;
	color: orange;
}
#movie-length{
	width: 80;
	
}
#movie-rated{
	width: 80px;
	
}
th{
	width: 80px;
	color: orange;
}
tr{
	color: orange;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

ul #dropdown