<cinema-header></cinema-header>
<div class="video-container">
    <div class="modal-container">
        <div *ngIf="videoPlay" class="popupplayer" [ngClass]="{'show' : videoPlay}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <span (click)="CloseVideo()"> <i class="fa fa-close"></i> </span>
                        <h2 class="modal-title">{{selectedMovie.title}}</h2>
                    </div>
                    <div class="modal-body">      
                        <div id="movie-trailer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<section *ngIf="selectedMovie" class="section-content pv12 bg-cover" [ngClass]="{'popupplayer-backdrop' : videoPlay}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="blog-item single" >
                    <div class="col-md-4 col-sm12 post-image hover-dark" [ngStyle]="{'background-image':'url(' + selectedMovie.thumbnail_url.replace('w185', 'original') + ')'}">
                       <a class="video-player" (click)="showVideo()"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 ph0">
                        <div class="post-content bg-cover" >
                            <div class="content-meta"> 
                                <h2 class="entry-title">{{selectedMovie.title}} 
                                <span>Synopsis</span>
                                </h2>
                                <div class="social-links">
                                    <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                    <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                    <a href="javascript:;"><i class="fa fa-user"></i></a>
                                </div>
                            </div>
                            
                            <p class="entry-text">{{selectedMovie.description}}</p>
                            <div class="info-content">
                                <ul class="item-info">
                                    <li><span>Running Time:</span>  <p>{{selectedMovie.length}} min</p></li>
                                    <li><span *ngIf="selectedMovie.categoryList.lenght>0">Genre:</span> 
                                        <ul>
                                            <p [ngStyle]="{'display': 'inline'}" *ngFor="let category of selectedMovie.categoryList">
                                                {{category.name}}
                                            </p>
                                        </ul>
                                    
                                    
                                    </li>
                                    <li><span *ngIf="selectedMovie.director">Director:</span>  <p>{{selectedMovie.director}}</p></li>
                                    <li><span *ngIf="selectedMovie.actors">Cast:</span>  <p>{{selectedMovie.actors}}</p></li>
                                    <li><span *ngIf="selectedMovie.release_date">Release Date:</span>  <p>{{selectedMovie.release_date | date}}</p></li>
                                </ul>
                                <!--
                                <div class="item-info-rate">
                                    <div class="chart-cirle">
                                        <div class="chart-circle-l">
                                            <div class="circle-chart" data-circle-width="7" data-percent="64" data-text="6.4">
                                            </div>
                                            <span>AMDB Rating</span>
                                        </div>
                                        <div class="chart-circle-r">
                                            <div class="circle-chart" data-circle-width="7" data-percent="84" data-text="8.4">
                                            </div>
                                            <span>Rotten Rating</span>
                                        </div>
                                    </div>
                                    
                                    <div class="wpc-skills animated">
                                        <div class="skill-block">
                                            <span class="timer" data-to="70" data-speed="500">70 - Metacritic </span>
                                            <div class="skill-line">
                                                <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                            </div>
                                        </div>
                                        <div class="skill-block">
                                            <span class="timer" data-to="56" data-speed="500"> 5.6 - Metacritic </span>
                                            <div class="skill-line">
                                                <div class="line-fill" data-width-pb="56%" style="width: 56%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                            </div>
                            <div id="movie-reservation">
                                <reservation [movie_id]="id"></reservation>
                            </div>
                        </div>
                        
                    </div>
                </article>     
            </div> 
        </div>
        <div class="row" *ngIf="movies.length > 0">
                <div class="col-md-12 mt4">
                   <div class="single-slider">
                        <div class="swiper-container movie-images" data-col="5">
                            <div class="swiper-wrapper owl-carousel owl-theme">
                                    <div class="swiper-slide" *ngFor="let movie of movies">
                                        <div class="movie-image item" [ngStyle]="{'background-image':'url(' + movie.thumbnail_url + ')'}">
                                            <div class="entry-hover">
                                                <div class="entry-actions">
                                                    <a class="btn fill" [routerLink]="['/movie', movie.id]" (click)="smoothScroll()">More</a>
                                                </div>
                                            </div>
                                            
                                            <div class="entry-desc">
                                            <!--
                                                <div class="rating">
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                </div>
                                                -->
                                                <h3 class="entry-title">{{movie.title}}</h3>
                                                <ul class="entry-date">
                                                    <li>{{movie.release_date | date}}</li>  
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</section>

<cinema-footer></cinema-footer>