<admin-navbar></admin-navbar>
	<h1 class="instructions">Type an e-mail address to list the reservations, <br> or choose the cinema to find all the reservations.</h1>
	<div class="container movie-pic-box">
		<div class="row">
			<div class="form-horizontal">
				<div class="form-group">
		            <label class="col-sm-3 text-right">Search</label>
		            <div class="col-md-9">
		              	<input [(ngModel)]="givenEmail" id="searchUser" class="form-control" type="text" name="search" placeholder="Search.." (keyup.enter)="getThisUserAndReservations()">
		            </div>
				</div>
				<div class="form-group">
					<label class="col-md-3 text-right">Cinema</label>
					<div class="col-md-9">
						<select id="admin-res-cin" [(ngModel)]="selectedCinemaId" class="reservation-custom-select form-control" (change)="reloadMovies()">
							<option *ngFor="let cinema of cinemas" value="{{cinema.id}}">{{cinema.name}}</option>
						</select>
					</div>
				</div>	
				<div class="form-group" >
					<label class="col-md-3 text-right">Movie</label>
					<div class="col-md-9">
						<select id="admin-res-movie" class="reservation-custom-select form-control" [(ngModel)]="selectedMovieId" (change)="reloadShows()">
							<option *ngFor="let movie of movies" [value]="movie.id">{{movie.title}}</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 text-right">Show</label>
						<div class="col-md-9">
							<select id="admin-res-show" class="reservation-custom-select form-control" [(ngModel)]="selectedShowId">
							<ng-container *ngFor="let show of shows">
								<option value="{{ show.id }}" *ngIf="show.cinema_id == selectedCinemaId">{{ show.timestamp | date:"y.MM.dd. HH:mm" }}</option>
							</ng-container>
						</select>	
					</div>
				</div>
				<button (click)="getReservations()" class="btn btn-default">Search</button>
			</div>
	<div class="container movie-pic-box">
		<div class="row">
			<table class="table table-striped table-bordered">
				<tr>
					<th>Username</th> 
					<th>Email</th>
					<th>Reservation</th>
					<th>Tickets</th>
					<th></th>
				</tr>
				<tr>
					<td>Julcsa</td>
					<td>user@user.com</td> 
					<td>Palace Metz - The Mummy</td>
					<ng-container *ngFor="let t of tickets">
						<td>Row: {{t.rowNumber}}, Seat: {{t.seat}}</td>
					</ng-container>
					<td>
						<button class="btn btn-default">Edit</button>
					</td>
				</tr>
			</table>
		</div>
	</div>	
<cinema-footer></cinema-footer>