<cinema-header></cinema-header>	
<div class="container" id="addCinemaHeader">
  <div class="row">
    <div class="col-md-12">
      <h1>Add New Cinema</h1>
      <h2>Add a new Cinema whit this application!</h2>
    </div>
  </div>
</div>
<div class="container">
	<div class="row">
    <form class="form-inline">
  		<div class="form-group" id="inputSideAdd" class="col-md-6">
  			<label for="fname">Add Name of Cinema</label>
      			<input [(ngModel)]="name" name="name" type="text" id="cname" placeholder="Cinema's name..">
      		<label for="fname">Add Adress of Cinema</label>
      			<input [(ngModel)]="adress" name="adress" type="text" id="cadress" placeholder="Cinema's adress..">
      		<label for="fname">Add E-mail of Cinema</label>
      			<input [(ngModel)]="email" type="text" name="email" id="cemail" placeholder="Cinema's E-mail adress..">
      		<label for="fname">Add Phone Nr. of Cinema</label>
      			<input [(ngModel)]="phoneNumber" name="phone" type="text" id="cphone" placeholder="Cinema's Phone number..">
      		<label for="fname">Add Base Price of Cinema</label>
      			<input [(ngModel)]="baseTicketPrice" name="baseTicketPrice" type="text" id="cprice" placeholder="Cinema's Base Price">
          <label for="fname">Add Descripitons of Cinema</label>
            <textarea  [(ngModel)]="description" name="description" type="text" id="cdescritpion" placeholder="Cinema's Descripitons" style="height: 200px;"></textarea>  
  		</div>
    </form>
    <form class="form-inline">
  		<div class="form-group" class="col-md-6">
  			<div id="googleMap" style="width:300px;height:300px;"></div>
  			<hr>
  			<label for="fname">Add GPS-lat of Cinema</label>
      			<input [(ngModel)]="gpsLat" type="text" name="gps_lat" id="cgps-lat" placeholder="Cinema's gps-lat coordinate..">
      		<label for="fname">Add GPS-lng of Cinema</label>
      			<input [(ngModel)]="gpsLng" type="text" name="gps_lng" id="cgps-lng" placeholder="Cinema's gps-lng coordinate..">
  			<script>
  			function myMap() {
  			var mapProp= {
  			    center:new google.maps.LatLng(51.508742,-0.120850),
  			    zoom:5,
  			};
  			var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
  			}
  			</script>
  			<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
  			<button (click)="addCinema()" type="button" id="addnewCinema" class="btn btn-success">Add New Cinema</button>
  		</div>
    </form>
	</div>
</div>
<div id="addCinemaOk" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">The Cinema is ready to use!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you ready to save the Cinema?</p>
      </div>
      <div class="modal-footer">
        <button (click)="hideAddCinemaPopup()" type="button" class="btn btn-primary">OK!</button>
      </div>
    </div>
  </div>
</div>
<cinema-footer></cinema-footer>
