<admin-navbar></admin-navbar>
<h1 class="instructions">Here you can manage cinemas, cinema datas or delete them.</h1>
<div id="cinemasH" class="container">
	<div class="row">
		<div class="col-md-4">
			<button id="admin-addcinema" routerLink='/admin/cinemas/add'>ADD NEW CINEMA</button>
		</div>
	</div>
</div>
<div id="cinemasB" class="container">
	<div class="row">
	 	<form class="form-inline">
		 	<div class="col-md-12">
	 			<ul *ngIf="cinemas.length > 0" class="list-unstyled">
					<li  id="admin_cinemas" class="form-group" class="admin-cinemas col-md-12" *ngFor="let c of cinemas; let i = index">
						<h1><a id="nameOfCinema" [routerLink]="['/admin/cinemas/',c.id]"> {{ c.name }} </a></h1>
						<p>Phone: {{ c.phone }} </p>
						<p>E-mail: {{ c.email }} </p>
						<p class="cinema-address"> Address: {{ c.address }} </p>
						<button id="delete_Cinema" class="btn btn-primary btn-sm" (click)="deleteThisCinema(i)">DELETE</button>
					</li>
				</ul>
		 	</div>
		</form>
	</div>
</div>
<cinema-footer></cinema-footer>

