<admin-navbar></admin-navbar>
<div class="container movie-pic-box">
    <div class="row">
        <h1 class="instructions">Refresh cinema data here.</h1>
        <!-- mozi szerkesztése -->
        <div class="form-horizontal">
            <div class="form-group">
                <label for="input-cinemaName" class="col-sm-3 text-right">Name</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="cinema.name" type="text" class="form-control" placeholder="Name of the cinema">
                </div>
            </div>
            <div class="form-group">
                <label for="input-cinemaDescription" class="col-sm-3 text-right">Short description</label>
                <div class="col-sm-9">
                  <textarea [(ngModel)]="cinema.description" type="textarea" class="form-control" rows="4" placeholder="Short description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="input-cinemaAddress" class="col-sm-3 text-right">Address</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="cinema.address" type="text" class="form-control" placeholder="Address">
                </div>
            </div>
            <div class="form-group">
                <label for="input-cinemaGpsLat" class="col-sm-3 text-right">GPS LAT</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="cinema.gps_lat" type="text" class="form-control" placeholder="Gps_lat">
                </div>
            </div>
            <div class="form-group">
                <label for="input-cinemaGpsLng" class="col-sm-3 text-right">GPS LNG</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="cinema.gps_lng" type="text" class="form-control" placeholder="Gps_lng">
                </div>
            </div>
            <div class="form-group">
                <label for="input-cinemaEmail" class="col-sm-3 text-right">Email</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="cinema.email" type="email" class="form-control" placeholder="E-mail">
                </div>
            </div>
            <div class="form-group">
                <label for="input-cinemaPhone" class="col-sm-3 text-right">Phone</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="cinema.phone" type="text" class="form-control" placeholder="Phone">
                </div>
            </div>
            <div id="admin-edit-price" class="form-group">
                <label class="col-sm-3 text-right" for="input-cinemaTicket">Amount (in HUF)</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <div class="input-group-addon">HUF</div>
                            <input [(ngModel)]="cinema.base_ticket_price" type="text" class="form-control" placeholder="Ticket price">
                        </div>
                    </div>
            </div>
                
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button (click)="editCinemaData()" type="save" class="btn btn-default">Save</button>
                </div>
            </div>
        </div>            
    </div>
</div>

<hr>

<!-- új terem hozzáadása -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="instructionsRooms">Add new room to the cinema, click on the name to edit the room, or delete it.</h1>
            <button routerLink="/admin/showRooms/add">Add new room</button>
            <ul class="list-unstyled">
                <li class="admin-rooms" *ngFor="let r of cinema.rooms; let i = index">
                    <a [routerLink]="['/admin/showRooms/',r.id]">{{ r.roomName }}</a>
                </li>
            </ul>
        </div>
    </div>
</div> 
<cinema-footer></cinema-footer>