<cinema-header></cinema-header>
	<div class="container movie-pic-box">
		<div class="row">
			<div *ngFor="let pic of movies; let i = index;" (click)="clickPic(pic.id)" class="col-sm-4" [ngClass]="{clearleft : i%3==0}">
				<img src="{{ pic.thumbnail_url }}" class="movie-pics-border">
			</div>
		</div>
	</div>	
<cinema-footer></cinema-footer>
